@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a {
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background: linear-gradient(to bottom, #000 0%, #111 100%);
}

@layer utilities {
  .section-content-offset {
    position: relative;
    left: -50vw;
    margin-right: -50vw;
    width: calc(100% + 50vw);
    min-height: 100%;
  }
}

@media (max-width: 1200px) { html { font-size: 90%; } }
@media (max-width: 900px)  { html { font-size: 80%; } }
@media (max-width: 600px)  { html { font-size: 70%; } }

@media (max-width: 1200px) { 
  .responsive-bg { 
    background-size: 120%; 
    background-position: center center; 
  } 
}

@media (max-width: 900px) { 
  .responsive-bg { 
    background-size: 140%; 
    background-position: center center; 
  } 
}

@media (max-width: 600px) { 
  .responsive-bg { 
    background-size: 160%; 
    background-position: center center; 
  }
}

img {
  max-width: 100%;
  height: auto;
}

section {
  isolation: auto !important;
}

@media (max-width: 768px) {
  .section-content {
    position: relative !important;
    left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    transform: none !important;
    padding: 0 1rem !important;
  }
  
  .mobile-scale {
    transform: scale(0.9);
    transform-origin: center;
  }
}

@font-face {
  font-family: 'EuropaGrotesk';
  src: url('/fonts/EuropaGroteskSH-DemBol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CENTURY_GOTHIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SlopeOpera';
  src: url('/fonts/SLOPE OPERA.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#dates .responsive-bg {
  background-size: 100% auto !important;
  background-position: center !important;
}

#charity .responsive-bg {
  background-size: 100% auto !important;
  background-position: "center 650px" !important;
}

@media (max-width: 768px) {
  #dates .responsive-bg {
    background-size: 400% auto !important;
    background-position: 80% center !important;
  }
}

@media (max-width: 768px) {
  #charity .responsive-bg {
    background-size: 755% auto !important;
    background-position: 80% center !important;
  }
}

@media (max-width: 768px) {
  .no-trapezoid {
    clip-path: none !important;
  }
}